*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.form-out{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
.form-in{
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 48px 48px 48px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    text-align: left;
}
.form-in h1{
    font-weight: 700;
    font-size: 29px;
    margin-top: 0;
}
form{
    display: block;
    margin-top: 0em;
}
.fullname .input input{
    width: 49.5%;
    padding: 14px;
    font-size: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}
.fullname .input #lastname{
    float: right;
}
.email .input input{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}
.phone input{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}
.address input{
    width: 49.5%;
    padding: 14px;
    font-size: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}
#state, #pincode{
    float: right;
}
.query input{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}
.submit{
    display: block;
}
.submit button{
    color: white;
    background-color: rgb(255, 102, 0);
    width: 100%;
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 50px;
    border-radius: 25px;
    border: none;
    display: inline-block;
}
.submit button:hover{
    background-color: rgb(255, 60, 0);
}
@media (max-width: 800px){
    .form-in h1{
        font-weight: 700;
        font-size: 24px;
        margin-top: 0;
    }
    .form-out{
        position: inherit;
        left: 0;
        transform: none;
        width: 100%;
    }
    .form-in{
        border: none;
    }
}

