<div class="form-out">
    <div class="form-in">
        <div>
            <h1>Get a call from us!</h1>
        </div>
        <div>
            <form>
                <div class="fullname">
                    <div class="input">
                        <input type="text" name="firstname" id="firstname" placeholder="First Name">
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                    </div>
                </div>
                <div class="email">
                    <div class="input">
                        <input type="email" id="email" placeholder="Enter your Email">
                    </div>
                </div>
                <div class="phone">
                    <input type="number" id="phone" placeholder="Phone Number">
                </div>
                <div class="address">
                    <input type="text" id="country" placeholder="Country">
                    <input type="tel" name="state" id="state" placeholder="State">
                    <input type="text" name="city" id="city" placeholder="City">
                    <input type="number" name="pincode" id="pincode" placeholder="PINCODE">
                </div>
                <div class="query">
                    <input type="text" name="query" id="query" placeholder="Tell us about your query...">
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

