<div class="login-out">
    <div class="login-in">
        <div>
            <h1>Log in</h1>
        </div>
        <div>
            <form [formGroup]="userForm" (ngSubmit)="checkLogin()">
                <div class="email">
                    <div class="label">
                        <label for="email">Email</label>
                        <span>Need an account? 
                            <span (click)="redirectSignup()">Sign Up</span>
                        </span>
                    </div>
                    <div class="input">
                        <input type="email" id="email" formControlName = "email">
                    </div>
                </div>
                <div class="password">
                    <div class="password label">
                        <label for="password">Password</label>
                    </div>
                    <div class="password input">
                        <input type="password" id="password" formControlName = "password">
                    </div>
                </div>
                <div class="invalid">
                    <span id="invalid">Invalid Email/Password</span>
                </div>
                <div class="login-btn">
                    <button type="submit" class="btn btn-primary" (click)="checkLogin()">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>

