<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="nav" id="nav">
    <nav>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()"> 
            <i class="fa fa-bars"></i>
          </a>
        <a href="#" class="links first" routerLink="home" routerLinkActive="active">Home</a>
        <a href="#" class="links" routerLink="contact-us" routerLinkActive="active">Contact</a>
        <a href="#" class="links" routerLink="about" routerLinkActive="active">About Us</a>
        <span><a class="logout" (click)="logout()">Log out</a></span>
        <span class="logout-icon" (click)="logout()"><i class="fa">&#xf08b;</i></span>
    </nav>
</div>
