<div class="top">
    <h1>Welcome</h1>
</div>
<div class="out">
    <div class="plus">
        <div>
            <h1>Book a Delivery</h1>
        </div>
        <div>
            <button type="submit" class="btn" (click)="redirectPDS()">+</button>
        </div>
    </div>
    <div class="orders">
        <div>
            <h1>Orders History</h1>
        </div>
        <div>
            <button type="submit" class="btn" (click)="redirectOrdersHistory()">></button>
        </div>
    </div>
</div>